.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
}
.item {
    list-style-type: none;
    max-width: 150px;
}
.img {
    width: 150px;
}
.name {
    color: #ffffff;
    margin: 10px 0px;
}
.text {
    color: #546778;
}